.list-container {
    background-color: #E5E5E5;
    height: 100vh;
    background-image: url('../../recipe-list.jpg');
    background-repeat: no-repeat;
    background-size: 2500px;
}

.list-actions {
    display: flex;
    height: 50px;
    flex-direction: row-reverse;
}

.list-title {
    text-align: center;
    padding-top: 2%;
}

.list-actions__create {
    display: flex;
    height: 62px;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family:sans-serif;
    font-size: 16px;
    background-color: lightslategray;
    box-shadow: none;
}

.list-actions__create:hover {
    opacity: 0.5;
}

.list-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 5% 0 5%;
    margin: 0 5% 0 5%;
    padding-top: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* flex-wrap: wrap; */
}

.list-filter {
    position: absolute;
    left: 0;
    /* margin: 10px; */
}
