.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 600;
    background-image: url('../../recipe-list.jpg');
    background-repeat: no-repeat;
    background-size: 2000px;
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
}

.create-label {
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 6px;
    width: 450px;
    height: 15px;
    margin: 14px;
    margin-top: 14px;
    margin-bottom: 5px;
}

.create-input {
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 6px;
    padding: 20px;
    padding-left: 15px;
    width: 450px;
    height: 15px;
    margin: 10px;
}

.create-textarea {
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 6px;
    padding-left: 15px;
    padding-top: 10px;
    width: 450px;
    height: 200px;
    margin: 10px;
}

.category {
    margin-left: 5px;
    margin-right: 5px;
}

.category_chosen{
    background-color: green;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.create-select__container {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.create-select__div {
    display: flex;
    flex-direction: column;
}

.create-ingredient__container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.create-ingredient__button {
    margin-left: 20px;
}

.create-category__container {
    margin: 20px;
}

.create-submit {
    border-radius: 0;
    background-color: black;
    color:white;
    margin-bottom: 20px;
}
